<div class="text-center">
	<h1 *ngIf="!testCompleted;else results;"><app-timer-up-down 
			[type]="timerType" startSeconds="2000"
			(timeComplete)="onTimeComplete()"
			(timeUpdate)="onTimeUpdate($event)"
			></app-timer-up-down></h1>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5 text-center" *ngFor="let questionGroup of questionGroups">
				<div class="form-inline mb-1" *ngFor="let q of questionGroup">
					<span class="questionNumber text-right font-weight-bold d-inline-block mr-1">
						{{q.questionNumber}}</span>
					<span class="seperator d-inline-block mr-1">.</span>
					<span class="question d-inline-block mr-1">{{q.title}}</span>
					<input type="number" class="form-control mr-1" 
						[(ngModel)]="userAnswers[q.questionNumber]"
						[ngClass]="{'answer-field': testCompleted, 
									'border-success': testCompleted && q.correctAnswer,
									'border-danger': testCompleted && !q.correctAnswer}">
					<input type="text" class="form-control answer-field"
						*ngIf="testCompleted"
						disabled readonly [value]="q.answer">
				</div>
			</div>
		</div>
	</div>
	<br>
	<button *ngIf="!testCompleted" class="btn btn-primary" (click)="onSubmitTest()">Submit</button>
</div>
<ng-template #results>
	<app-result [totalQuestions]="questions.length" [score]="score"
				[timeTaken]='timeString'></app-result>
</ng-template>